<!-- faqs.component.html -->
<div class="recorder-container">
  <button class="record-btn" [ngClass]="{ 'recording': isRecording }" (click)="toggleRecording()">
    <span class="icon">
      <ng-container *ngIf="!isRecording">🎤 شروع ضبط</ng-container>
      <ng-container *ngIf="isRecording">⏹️ توقف ضبط</ng-container>
    </span>
    <div *ngIf="isRecording" class="recording-indicator"></div>
  </button>

  <!-- فایل صوتی بعد از ضبط نمایش داده می‌شود -->
  <div class="audio-wrapper" *ngIf="audioUrl">
    <h4>فایل صوتی ضبط‌شده:</h4>
    <audio [src]="audioUrl" controls class="audio-player"></audio>
  </div>
</div>